<ul>
  <li><span><%= book.escape('title') %></span></li>
  <% if (book.escape('author_fname')) { %>
    <li><span><%= book.escape('author_fname') %>
    <%= book.escape('author_lname') %></span></li>
  <% } %>
</ul>
