<div class="img-wrapper">
  <img class="index-item-cover" width="200" height="300" src=<%=book.escape('cover_url')%>>
  <button type="button" class="btn btn-default index-read-button">Read</button>
  <button type="button" class="btn btn-default index-rate-button">Info</button>
</div>
<div class="open-book-hidden"></div>
<div class="link-book-show-hidden">
  <span>Book Info</span>
</div>
<ul>
  <li class="raty"></li>
  <!-- <li><span class="book-title"><%= book.escape('title') %></span></li> -->
</ul>
