<img class="index-item-cover" width="200" height="300" src=<%=book.escape('cover_url')%>>
<div class="open-book-hidden"></div>
<span class="link-book-show">
<ul>
  <li class="raty"></li>
  <li><span><%= book.escape('title') %></span></li>
</ul>
