<div class="new-book-form well">
  <h3>Upload Your Epub!</h3>
  <input class="upload-file" type="text" placeholder="Upload File"> <br>
  <input class="book-title" type="text" placeholder="Your book's Title"> <br>
  <textarea class ="description" rows="8" cols="70" placeholder="Describe your book!"></textarea><br>
  <button class="create-book btn btn-default" type="button">Create Book!</button>
</div>
