<div class="container well new-form">
  <h3 class="new-header">Upload Your ePub</h3>
  <form>
    <div class="form-group">
      <input class="form-control book-title" placeholder="Book Title">
    </div>

    <div class="form-group">
      <textarea class="form-control description" placeholder="Book Description"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Book File</label> <br>
      <button class="upload-file" type='file'>Choose File</button>
      <span class="book-file-name">No file chosen</span>
      <p class="help-block">At this time, readMe only supports .epub files</p>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Cover Image</label> <br>
      <button class="upload-cover" type='file'>Choose File</button>
      <span class="cover-file-name">No file chosen</span>
      <p class="help-block">readMe supports .jpg, .png, and .gif files</p>
    </div>

    <button type="submit" class="center-block create-book btn btn-default">Submit</button>
  </form>
</div>
