<div id="prev" class="arrow">‹</div>
<div id="area">
  <div class="book-status-bar">
    <button class="plus btn btn-xs">+</button>
    <button class="minus btn btn-xs">-</button>
    <button class="style btn btn-xs">Toggle Font</button>
    <button class="back-to-show btn btn-xs">Back to Info</button>
  </div>
</div>
<div id="next" class="arrow">›</div>
