<div class="book-status-bar">
  <span class="plus">+</span>
  <span class="minus">-</span>
  <span class="style">Toggle Font</span>
</div>
<div id="prev" class="arrow">‹</div>
<div id="area"></div>
<div id="next" class="arrow">›</div>
