<div class="book-status-bar">
<button class="plus">+</button>
<button class="minus">-</button>
<button type="style">Toggle Font</button>
</div>
<div id="prev" class="arrow">‹</div>
<div id="area"></div>
<div id="next" class="arrow">›</div>
