<div id="prev" class="arrow">‹</div>
<div id="area">
  <div class="book-status-bar">
    <button class="plus btn btn-default btn-xs">+</button>
    <button class="minus btn btn-default btn-xs">-</button>
    <button class="style btn btn-default btn-xs">Toggle Font</button>
  </div>
</div>
<div id="next" class="arrow">›</div>
