<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner book-index-list" role="listbox">
  </div>

  <a class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div> -->
<h1 class="landing-header">Stay awhile and read</h1>

<h3 class="landing-sub-header">Recently Added</h3>

<div class="recently-added"></div>

<h3 class="landing-sub-header">Featured Author</h3>

<div class="book-indices"></div>
