
<h1 class="landing-header">Stay awhile and read</h1>

<h3 class="landing-sub-header">Recently Added Works</h3>
<hr>
<div class="recently-added"></div>

<h3 class="landing-sub-header">Top Rated</h3>
<hr>
<div class="top-rated-index"></div>

<h3 class="landing-sub-header">Featured Works</h3>
<hr>
<div class="book-indices"></div>
