<h4><%= user.escape('fname') %> <%= user.escape('lname')%>'s Libraries</h3>
<label><h3>Library Books</h3>
  <div class="library-books">
  </div>
</label>

<label><h3>Written Works</h3>
  <div class="written-works">
  </div>
</label>
