<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#library" aria-controls="home" role="tab" data-toggle="tab">Library Books</a></li>
  <li role="presentation"><a href="#written" aria-controls="profile" role="tab" data-toggle="tab">Written Works</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" role="tabpanel" id="library">
    <div class="library-books"></div>
  </div>
  <div class="tab-pane" role="tabpanel" id="written">
    <div class="written-works"></div>
  </div>
</div>
