<h4><%= review.escape('title') %></h4>
<div>
  <% for(var i = 0; i < review.escape('quantitative').length; i++){ %>
    <img src="http://www.oneworldkids.net/bright%20blue%20star%20100%20dpi.jpg"
      class="rating-stars"/>
  <% }; %>
</div>
<hr>
<p><%= review.escape('qualitative')%></p>
