<h4>Leave an Opinion!</h4>
<div class="raty-new"></div>
<br>
<input type="text" placeholder="Title your post">
<br>
<textarea rows="8" cols="80" placeholder="What did you think?"></textarea>
<br>
<button type="button" class="btn btn-default">Submit</button>
