<h4>Leave an Opinion!</h4>
<div class="raty-new"></div>
<br>
<input class="review-title" type="text" placeholder="Title your post">
<br>
<textarea class="review-description" rows="8" cols="80" placeholder="What did you think?"></textarea>
<br>
<button type="button" class="create-review btn btn-default">Submit</button>
