<h1 class='welcome'>Welcome to readMe</h1>
<div class="landing well well-default center-block">
<h3> <%= header %> </h3>
<% action = '/users' if header == 'Sign Up'%>
<% action = '/session' if header == 'Sign In'%>

<form action="<%= action %>" method="post">
  <br>
  <input type="text" name="user[email]" placeholder="Email"> <br>
  <% if header == 'Sign Up' %>

    <input type="text" name="user[fname]" placeholder="John">
     <br>

    <input type="text" name="user[lname]" placeholder="Doe">
    <br>
  <% end %>
  <input type="password" name="user[password]" placeholder="Password">
  <br>
  <br>

  <input class="btn center-block" type="submit" name="name" value="<%= header %>">
</form>
</div>
