
 @import "bootstrap-sprockets";
 @import "bootstrap";

h1,h2,h3 {
  font-family: serif;
}

.form-signin {
  width: 300px;
}
div.new-book-form input {
  margin-left: 206px;
  margin-top: 10px;
}

h1.landing-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.new-book-form h3 {
  text-align: center;
}

textarea.description {
  margin-top: 10px;
}

button.create-book {
  margin-top: 10px;
  margin-left: 235px;
}

div.search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 178px;
}

div.search h4 {
  text-align: center;
}

input.book-search {
  margin-left: 5px;
  margin-top: 10px;
}
body {
  background: #D1E0FF;
}

span.author:hover {
  cursor: pointer;
  color: red;
}

.activex {
  border-bottom: solid #3399FF;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.review-index-item {
  padding: 10px;
  margin: 15px;
  background: white;
}

div.new-review {
  background: white;
  padding: 10px;
  margin: 15px;
}

a {
  cursor: pointer;
}
.cover-show {
  // margin-top: 10px;
  padding:0;
  height: 300px;
  width: 200px;
  float: left;
  -webkit-box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  -moz-box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  position: absolute;
}

div.cover-show img {
  float: left;
}

p.book-description {
  float: right;
  width: 40%;
  background: white;
  margin: 10px;
  padding: 10px;
  max-height: 275px;
  overflow-y: scroll;
}

.welcome {
  margin-top: 120px;
  margin-bottom: 20px;
}

h1.welcome span {
  font-weight: bold;
}

.sign-in-toggle a{
  text-decoration: none;
}

.sign-in-toggle {
  font-align: center;
  width: 300px;
}

span.tabs {
  position: absolute;
  right: 25px;
  bottom: 16px;
}
span.tabs a {
  font: 'Montserrat';
  padding: 5px;
  text-decoration: none;
  padding-bottom: 15px;
}
nav.nav-bar {
  position: relative;
  height: 80px;
  width: 100%;
}
nav.nav-bar h1.logo {
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  left: 20px;
}

img.login-logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}


// #main {
//   display: block;
//   background: #F0F5FF;
//   height: 100%;
// }
div.landing {
  display: block;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  position: relative;
  // margin-top: 0px;
  // top: 50%;
  // transform: translateY(70px);
}

li.book-index-item:hover {
  background: #E6E6E6;
}

li {
  padding-left: 0px;
}

div.landing h3 {
  text-align: center;
}

div.results {
  width: 100%;
  position: fixed;
  top: 170px;
  bottom: 0;
  overflow-y: scroll;
}

h1.welcome {
  text-align: center;
}

div.book-index {
  // background: #A0B8E6;
  // background: white;
  border-radius: 5px;
  display: block;
  width: 1300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

ol.book-index-list {
  position: relative;
  display: block;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.library-title {
  text-align: center;
  margin-top: 15px;
  font-weight: lighter;
}

li.book-index-item img.cover {
  float: left;
  -webkit-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);

}

li.book-index-item ul {
  float: left;
  text-align: center;
  height: 20px;
}

li.book-index-item {
  display: inline-block;
  // background: white;
  margin: 10px;
  margin-top: 10px;
  list-style-type: none;
  padding: 10px;
  width: 23%;
}

li.book-index-item li {
  list-style-type: none;
}

li.book-index-item span {
  font-style: italic;
  font-family: serif;
}

li.book-index-item span.title {
  font-size: 14pt;
}

li.book-index-item p {
  font-family: serif;
}

a,ul,li,h1,h2,h3,h4,hr {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rating-stars {
  height: 25px;
  width: 25px;
}


div.reviews {
  position: absolute;
  background: #A0B8E6;
  min-height: 10%;
  width: 55%;
  right: 10px;
  top: 10px;
  max-height: 95%;
  overflow-y: scroll;
}

.book-show {
  height: 100%;
}

div.book-information {
  background: #A0B8E6;
  display: block;
  float: left;
  min-width: 550px;
  width:40%;
  position: relative;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 60%;
  max-height: 90%;
}

#carousel-example-generic {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
div.carousel-inner .item {
  margin-left: 100px;
  width: 500px;
}
div.carousel-inner {
  min-height: 400px;
}
div.carousel-inner li.item {
  height: 400px;
  cursor: pointer;
}

div.carousel-inner li.item ul {
  margin-left: 20px;
}

div.carousel-inner li.item li {
  width: 250px;
  text-align: left;
  margin-bottom: 10px;
}

div.carousel-inner li.item li p {
  width: 100%;
}

div.reviews {

}

div.new-book-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  width: 625px;
  overflow: hidden;
  background: #A0B8E6;
}

div.new-book-form h3 {
  // background: white;
  padding: 5px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

div.book-info-header {
  background: white;
  position: relative;
  display: block;
  width: 70%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
div.book-info-header h1 {

}

div.book-info-header h3 {
}

img.cover-place-holder {
  margin: 10px;
  float: left;
}

div.show-buttons {
  float: right;
  position: relative;
}

button.add-to-library {
  position: absolute;
  right: 10px;
}
button.read {
  position: absolute;
  right: 10px;
  top: 40px;
}



body {
  overflow: visible;
}

#main {
  position: absolute;
  min-width: 1300px;
  width: 100%;
  height: calc(100% - 70px);
  background: #F0F5FF;
}

#wrapper {
  width: 480px;
  height: 640px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 20px auto;
  background: #fff;
  border-radius: 0 5px 5px 0;
}

#area {
  background: white;
  width: 480px;
  height: 650px;
  margin: -5px auto;
  -moz-box-shadow:      inset 10px 0 20px rgba(0,0,0,.1);
  -webkit-box-shadow:   inset 10px 0 20px rgba(0,0,0,.1);
  box-shadow:           inset 10px 0 20px rgba(0,0,0,.1);
  padding: 40px 40px;
}
#prev {
  left: 350px;
}

#next {
  right: 350px;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #B2B2B2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.arrow:hover {
  color: #777;
}

.arrow:active {
  color: #000;
}
