
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #D1E0FF;
}
.active {
  border-bottom: black;

}

.cover-show {
  margin-top: 10px;
  float: left;
  background: white;
  width: 50%;
  height: 400px;
}

.welcome {
  margin-top: 120px;
  margin-bottom: 20px;
}

h1.welcome span {
  font-weight: bold;
}

.sign-in-toggle a{
  text-decoration: none;
}

span.tabs {
  position: absolute;
  right: 25px;
  bottom: 20px;
}
span.tabs a {
  padding: 5px;
  text-decoration: none;
}
nav.nav-bar {
  position: relative;
  height: 70px;
  width: 100%;
}
nav.nav-bar h1.logo {
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  left: 20px;
}

h1.logo span {
  font-weight: bold
}

// #main {
//   display: block;
//   background: #F0F5FF;
//   height: 100%;
// }
div.landing {
  display: block;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  position: relative;
  // margin-top: 0px;
  // top: 50%;
  // transform: translateY(70px);
}

li.book-index-item:hover {
  background: #FF9999;
}

li {
  padding-left: 0px;
}

div.landing h3 {
  text-align: center;
}

h1.welcome {
  text-align: center;
}

div.book-index {
  background: #FFE6E6;
  border-radius: 5px;
  display: block;
  float: left;
  padding: 20px;
  height: 100%;
  overflow: visible;
}

li.book-index-item {
  background: #FFB2B2;
  margin: 1px;
  list-style-type: none;
}

li.book-index-item li {
  list-style-type: none;
}

a,ul,li,h1,h2,h3,h4 {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  text-decoration: none;
}

div.book-information {
  background: #A0B8E6;
  display: block;
  float: left;
  min-width: 550px;
  width:40%;
  position: relative;
  padding: 20px;
}

div.book-info-header {
  background: white;
  position: relative;
  display: block;
  width: 70%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 40px;
}
div.book-info-header h1 {

}

div.book-info-header h3 {

}

img.cover-place-holder {
  margin: 10px;
  float: left;
}

button.add-to-library {
  float: right;
}

p.book-description {
  width: 45%;
  display: block;
  float: left;
  background: white;
  margin: 10px;
  padding: 10px;
}

body {
  overflow: visible;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F0F5FF;
}

  #area {
    width: 80%;
    height: 100%;
    margin: 5% auto;
    max-width: 1250px;
  }

  #area iframe {
    border: 1px solid black;
    border-radius: 8px;
    margin: 0;
    padding: 20px;
    overflow: visible;
    height: 1000px;
    background: white;
  }

  #prev {
            left: 40px;
          }

          #next {
            right: 40px;
          }

          .arrow {
            position: absolute;
            top: 50%;
            margin-top: -32px;
            font-size: 64px;
            color: #E2E2E2;
            font-family: arial, sans-serif;
            font-weight: bold;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }

          .arrow:hover {
            color: #777;
          }

          .arrow:active {
            color: #000;
          }
