
 @import "bootstrap-sprockets";
 @import "bootstrap";

.new-form {
  margin-top: 30px;
  width: 700px;
  background: #D4E1E9;
}

.new-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.new-form .create-book {

}
h1,h2,h3 {
  font-family: 'Montserrat', Georgia;
}

.form-signin {
  width: 300px;
}
div.new-book-form input {
  margin-left: 206px;
  margin-top: 10px;
}

h1.landing-header {
  text-align: center;
  // margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  font-family: 'Montserrat'
}


div.new-book-form h3 {
  text-align: center;
}

textarea.description {
  margin-top: 10px;
}

div.search {
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid #d4d4d4;
}

div.search span {
  font-size: 33px;
  font-family: 'Montserrat';
  margin-left: 17px;
}

div.search input {
  font-size: 33px;
  height: 60px;
  padding-left: 40px;
  width: calc(100% - 400px);
  margin-left: 20px;
  border-radius: 40px;
  margin-top: 5px;
}

div.search input:focus {
    outline-width: 0;
}

body {
  background: #D1E0FF;
}

span.author:hover {
  cursor: pointer;
  color: red;
}

.activex {
  border-bottom: 5px solid white;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.review-index-item {
  padding: 10px;
  margin: 15px;
  background: white;
}

div.new-review {
  background: white;
  padding: 10px;
  margin: 15px;
}

a {
  cursor: pointer;
}
.cover-show {
  // margin-top: 10px;
  padding:0;
  height: 300px;
  width: 200px;
  float: left;
  -webkit-box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  -moz-box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  box-shadow: inset 104px 0px 82px -68px rgba(0,0,0,0.98);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.98);
  position: absolute;
}

div.cover-show img {
  float: left;
}

p.book-description {
  float: right;
  width: 40%;
  background: white;
  margin: 10px;
  padding: 10px;
  max-height: 275px;
  overflow-y: scroll;
}

.welcome {
  margin-top: 120px;
  margin-bottom: 20px;
}

h1.welcome span {
  font-weight: bold;
}

.sign-in-toggle a{
  text-decoration: none;
}

.sign-in-toggle {
  text-align: center;
  width: 300px;
}


span.tabs {
  position: absolute;
  right: 25px;
  bottom: 16px;
  color: white;
}
span.tabs a {
  font-family: 'Montserrat';
  color: white;
  padding: 5px;
  text-decoration: none;
  padding-bottom: 15px;
}
nav.nav-bar {
  position: relative;
  height: 80px;
  width: 100%;
  background: #135987;
  min-width: 750px;
}
nav.nav-bar h1.logo {
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  left: 20px;
}

img.login-logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
}

div.landing {
  display: block;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  position: relative;
}

li.book-index-item:hover {
  background: #E6E6E6;
  cursor: pointer;
}

.nav-tabs {
  height: 70px;
  border-bottom: 5px solid #d4d4d4;
  background: white;
  font-family: 'Montserrat';
  font-size: 33px;
}

li {
  padding-left: 0px;
}

div.landing h3 {
  text-align: center;
}

div.library-books,div.written-works,div.results {
  width: 100%;
  position: fixed;
  top: 150px;
  bottom: 0;
  overflow-y: scroll;
}

h1.welcome {
  text-align: center;
}

div.book-index {
  // background: #A0B8E6;
  // background: white;
  border-radius: 5px;
  display: block;
  width: 1300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

ol.book-index-list {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.library-title {
  text-align: center;
  margin-top: 15px;
  font-weight: lighter;
}

li.book-index-item img.cover {
  float: left;
  -webkit-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
}

li.book-index-item img.index-item-cover {
  margin-left: 35px;
  float: left;
  -webkit-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 20px 2px rgba(0,0,0,0.75);
}

li.book-index-item ul {
  float: left;
  text-align: center;
  height: 20px;
}

ol.book-index-list li.book-index-item ul {
  transform: translateX(90%);
}


li.book-index-item span {

}

li.book-index-item {
  display: inline-block;
  // background: white;
  margin: 10px;
  margin-top: 10px;
  list-style-type: none;
  padding: 10px;
  width: 23%;
}

li.book-index-item li {
  list-style-type: none;
}

li.book-index-item span {
  font-style: italic;
  font-family: serif;
}

li.book-index-item span.title {
  font-size: 14pt;
}

li.book-index-item p {
  font-family: serif;
}

.book-information li {
  margin-bottom: 8px;
}

.book-information span {
  font-style: italic;
  font-family: serif;
}

.book-information span.title {
  font-size: 14pt;
}

.book-information p {
  font-family: serif;
}

a,ul,li,h1,h2,h3,h4,hr {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rating-stars {
  height: 25px;
  width: 25px;
}


div.reviews {
  float: left;
  background: #D4E1E9;
  min-width: 550px;
  width: calc(100% - 690px);
  margin-top: 10px;
  margin-left: 10px;
  max-height: 95%;
  overflow-y: scroll;

}

.book-show {
  height: calc(100% - 80px);
  min-width: 1400px;
}

div.book-information {
  background: #D4E1E9;
  display: block;
  float: left;
  position: relative;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 300px;
}

.book-information img {
  float: left;
  box-shadow: 1px 4px 20px 2px rgba(0, 0, 0, 0.75);
}

.book-information ul {
  display: block;
  float: left;
  width: 280px;
  max-height: 480px;
  margin-left: 20px;
  background: white;
  padding: 10px;
  overflow-y: scroll;
}

#carousel-example-generic {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.landing-page {
  height: calc(100% - 80px);
}

div.carousel-inner .active {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
div.carousel-inner {
  // min-height: 400px;
  // height:100%;
}
div.carousel-inner li.item {
  height: 400px;
  cursor: pointer;
  width: 100%;
}

.carousel-inner li.book-index-item:hover {
  background: none;
  cursor: pointer;
}

.carousel-inner li.item div {
  transform: translateX(40%);
}

div.carousel-inner li.item ul {
  margin-left: 20px;
}

div.carousel-inner li.item li {
  width: 250px;
  text-align: left;
  margin-bottom: 10px;
}

div.carousel-inner li.item li p {
  width: 100%;
}

div.reviews {

}

div.new-book-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  width: 625px;
  overflow: hidden;
  background: #135987;
  border-radius: 0;
}

.new-header {
  color: white;
  width: 100%;
}

div.new-book-form h3 {
  // background: white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

div.book-info-header {
  background: white;
  position: relative;
  display: block;
  width: 70%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
div.book-info-header h1 {

}

div.book-info-header h3 {
}

img.cover-place-holder {
  margin: 10px;
  float: left;
}

div.show-buttons {
  float: right;
  position: relative;
}

body {
  overflow: visible;
}

.read-page {
  height: 100%
}

#main {
  position: absolute;
  min-width: 750px;
  width: 100%;
  height: calc(100% - 80px);
  background: #F0F5FF;
}


          #area {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: 1250px;
            background: white;
            padding: 40px;

          }
          #area iframe {
            border: none;
          }
          #prev {
            left: 40px;
          }
          #next {
            right: 40px;
          }
          .arrow {
            position: absolute;
            top: 50%;
            margin-top: -32px;
            font-size: 64px;
            color: #E2E2E2;
            font-family: arial, sans-serif;
            font-weight: bold;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
          .arrow:hover {
            color: #777;
          }

          .arrow:active {
            color: #000;
          }
