
<nav class="nav-bar">
  <a href="#"> <img class="logo" height="85" width="213" src="https://res.cloudinary.com/dik5878ak/image/upload/v1434664231/readMe-logo_2_gvndnc.png" alt="logo" /> </a>
  <span class="tabs pull-right">
    <a class="home-page">Your Books</a>
    | <a class="search">Book Search</a>
    | <a class="upload-doc" data-toggle="modal" data-target="#myModal">Upload Book</a>
    | <a class="log-out">Log Out</a>
  </span>
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload a Book</h4>
      </div>

      <div class="modal-body form">
        <span class="title-error"></span>
        <div class="form-group">
          <input class="form-control book-title" placeholder="Book Title">
        </div>

        <div class="form-group">
          <textarea class="form-control description" placeholder="Book Description"></textarea>
        </div>
        <span class="doc-url-error"></span>
        <div class="form-group">
          <label for="exampleInputFile">Book File</label> <br>
          <button class="upload-file" type='file'>Choose File</button>
          <span class="book-file-name">No file chosen</span>
          <p class="help-block">At this time, readMe only supports .epub files</p>
        </div>

        <div class="form-group">
          <label for="exampleInputFile">Cover Image</label> <br>
          <button class="upload-cover" type='file'>Choose File</button>
          <span class="cover-file-name">No file chosen</span>
          <p class="help-block">readMe supports .jpg, .png, and .gif files</p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit"
          class="center-block create-book btn btn-default">Submit</button>
      </div>
    </div>

  </div>
</div>
