<nav class="nav-bar">
  <a href="#"><h1 class="logo">readMe</h1></a>
  <span class="tabs pull-right"><a class="upload-doc">Upload Book</a> | <a class="search">Book Search</a> | <a class="log-out">Log Out</a></span>
</nav>
